@{
    ViewData["Title"] = "Błąd serwera!";
}

<header>

    <p class="text-danger">
        Przepraszamy, wystąpił błąd serwera. Proszę spróbować ponownie później.
    </p>

    @Html.ActionLink("Strona główna", "Index", "Home")

</header>